*{
  /*border:solid 1px;*/
  font-family:微軟正黑體;
  position:relative;
}
html,body{
  width:100%; height:100%;
  padding:0px; margin:0px;
}
body{
  background-color:#ffffff;
  border-top:solid 20px #2d2d2d;
  border-bottom:solid 20px #2d2d2d;
  box-sizing:border-box;
  
}
.namecard{
  width:350px;
  height:200px;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
  background-color:#3d3d3d;
  color:rgba(0,0,0,0.7);
  overflow:hidden;
  border:solid 1px rgba(0,0,0,0.15);
  border-radius:5px;
  box-shadow:0px 25px 15px -10px rgba(0,0,0,0.65);
}
.namecard h2{
  color:#ffffff;
  font-size:25px;
}
.namecard h5{
  font-size:16px;
  color:#fff800;
}
.namecard p{
  color:#ffffff;
  font-size:15px;
  letter-apacing:6px;
  line-height:22px;
}
.circle{
  width:100px; height:100px;
  border-radius:100%;
  position:absolute;
  /*right:100px;*/
}
.c1{
  right:100px;
  background-color:#fff800;
}
.c2{
  top:-32px;
  right:-32px;
  width:60px;
  height:60px;
  border:solid 6px #fcff7b
}
.acircle{
  width:50px; height:50px;
  border-radius:100%;
}
.c3{
  background-color:#fff800;
  top:-30px; left:400px;
}
.c4{
  background-color:#3d3d3d;
  top:30px; left:800px;
}
.c5{
  width:130px; height:130px;
  border-radius:100%;
  background-color:#fff800;
  left:1050px;bottom:280px; 
}
.c6{
  width:100px; height:100px;
  border-radius:100%;
  background-color:#5b5b5b;
  left:155px;bottom:230px; 
}
.page_title{
  text-align:center;
}
.mark{
  font-size:270px;
  position:absolute;
  width:100%;
  height:100%;
  text-alian:center;
  color:#cccccc;
}
.mark1{
  font-size:270px;
  position:absolute;
  right:-830px;
  text-alian:center;
  color:#cccccc;
   width:100%;
  height:100%;
}
